<!-- publications/templates/publications/publication_detail.html -->

{% extends 'publications/base.html' %}
{% load static %}

{% block content %}
    <div class="flipbook-container">
        <a href="{% url 'publications:home' %}" class="back-link">&larr; Back to Publications</a>
        <h2>Viewing: {{ publication.title }}</h2>

        <!-- dFlip.js Flipbook Container -->
        <div class="_df_book" 
             source="{{ publication.pdf_file.url }}" 
             id="df_manual_book">
        </div>
    </div>

    <!-- === LOCAL dFlip.js Files === -->

    <!-- 1. Local dFlip CSS -->
    <link href="{% static 'publications/js/dflip/dflip.min.css' %}" rel="stylesheet" type="text/css">
    
    <!-- 2. jQuery from a reliable CDN (this is usually not blocked) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    
    <!-- 3. Local dFlip JavaScript -->
    <script src="{% static 'publications/js/dflip/dflip.min.js' %}" type="text/javascript"></script>

{% endblock %}